*.cbp
build/*
obj/*
bin/*
octreeRenderer.layout
.cproject
.project
.kdev4/*
*.*~
/.pydevproject
*.bmp
*.geany
*.kdev4
*xcodeproj*
*.trace
*.voct
Debug/*
*log
*sponza*
*hairball*
*sibenik*
*_1GPU
*_2GPU
*_2GPUCPU
*_res
*.png
*.bmp
.cccc/*
*.kate-swp